html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
}
* {
    box-sizing: border-box;
    outline: transparent;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
button {
    background: none;
    border: none;
}