
/* Ограничивающая оболочка */ 
.slick-list {
    overflow: hidden;
} 

/* Лента слайдов */ 
.slick-track {
    display: flex;
}

/* Точки (булиты) */ 
.slick-dots { 
    display: flex;
    position: absolute;
    bottom: 35px;
    right: 80px;
} 
.slick-dots li {
    margin-left: 30px;
    transition: all 0.3s;
} 

/* Активная точка */ 
.slick-dots li.slick-active {
    background: $Text;
    border-radius: 50%;
} 

/* Элемент точки */ 
.slick-dots li button {
    font-size: 0;
    border: 2px solid $Text;
    border-radius: 100%;
    padding: 16px;
    display: block;
    background: transparent;
}