// reset
@import "reset";

// default
@import "default";

// slick
@import "slick";

// style

// header
.header {
    width: 100%;
    padding: 22px 0;
    position: sticky;
    z-index: 1;
    background: $Text;
    top: 0;
    left: 0;
    &__body {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} 
.menu {
    display: flex;
    align-items: center;
    &__list {
        margin-left: 25px;
        &-link {
            color: $Default;
            transition: all 0.2s;
            &:hover {
                color: $Second;
            }
        }
        &-btn {
            background: $Primary;
            color: $Text;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            padding: 11px 31px;
            letter-spacing: -0.015em;
            border-radius: 6px;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
                background: $Second;
            }
        }
    }
}  

// main
.main {
    color: $Text;
    width: 100%;
    height: calc(100vh - 84px);
    &__body {
        min-width: 0;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__content {
        height: 100%;
    }
}
.wrapper {
    min-width: 0;
    height: calc(100vh - 84px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.item-1 {
    background-image: url(../images/item-1.png);
}
.item-2 {
    background-image: url(../images/item-2.png);
}
.item-3 {
    background-image: url(../images/item-3.png);
}
.main__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: -0.015em;
    &-subtitle {
        font-size: 36px;
        line-height: 72px;
        text-transform: uppercase; 
    }
    &-title {
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        text-transform: uppercase;
        margin: 70px 0;
    }
    &-description {
        font-size: 24px;
        line-height: 50px;
    }
}

.section {
    width: 100%;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 60px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
            .section__info {
                margin-left: 70px;
            }
        }
    }
    &__info {
        &-title {
            padding: 0;
            font-size: 36px;
            line-height: 72px;
        }
        &-description {
            font-size: 24px;
            line-height: 50px;
            padding: 50px 0;
        }
        &-btn {
            color: $Primary;
            border: 2px solid $Primary;
            background-color: transparent;
            font-size: 24px;
            line-height: 29px;
            padding: 15px 29px;
            border-radius: 9px;
            transition: all 0.2s;
            &:hover {
                color: $Second;
                border-color: $Second;
            }
        }
    }
}
.section__image {
    width: 540px;
    height: 640px;
}
.section-title {
    margin-top: 100px;
    margin-bottom: 90px;

}








//////////////

// media
@import "media";